[submodule "ueblog/public"]
	path = ueblog/public
	url = https://github.com/mackau-io/mackau.github.io.git
	branch = main
[submodule "ueblog/ueblog/themes/hugo-brewm"]
	path = ueblog/ueblog/themes/hugo-brewm
	url = https://github.com/foxihd/hugo-brewm.git
